.login-block {
    margin: 2% 30%;
    background-color: rgb(239, 224, 202);
    padding: 5% 5% 2% 5%;
}

.login-block h1 {
    text-align: center;
    color: rgb(0, 18, 51);
    font-size: 40px;
    font-weight: 700;
}

.login-block p {
    text-align: center;
    /* color: rgb(0, 18, 51); */
    font-size: 20px;
}

label {
    margin: 1%;
    color: rgb(0, 18, 51);
    font-size: 16px;
    font-weight: 400;
}

.form-input {
    border: 2px solid black;
    border-radius: 0;
}

.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.line span {
    background: rgb(239, 224, 202);
    padding: 0 10px;
}

.login-button {
    border: 0;
    width: 50%;
    margin: 5% 25%;
    height: 45px;
}